@use '../constants/colors' as color;
@use '../constants/fonts' as font;



section {
    h1 {
        font-family: font.$myTitleFont;
        background-color: color.$colorSectionTitleBg;
        color: color.$colorSectionTitle;
    }
}


.table-entry {
    background-color: color.$colorSectionBg;

    .table-entry__header {
        background-color: color.$colorTableFill;

    }

    .table-entry__contents {
        background-color: color.$colorSectionBg;
    }
}