@use '../constants/colors' as color;
@use '../constants/fonts' as font;

header, section{
    padding: 0.5cm 1cm;
}



section{
    h1{
        text-transform: capitalize;
        margin-left: 1rem;
        font-family: font.$myTitleFont;
    }
}


.table-entry{
    background-color: color.$myGrayMed;
    .table-entry__header{
        background-color: color.$myGrayLight;
        display: flex;
        flex-direction: row;
        li{
            // background-color: grey;
            list-style-type: none;
            width: 25%;
        }
    }
    .table-entry__contents{
        background-color: color.$bgColor;
    }
}