@use '../constants/colors' as color;
@use '../constants/fonts' as font;

header{
    background-color: color.$myColorPrimary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header__left{
        background-color: color.$myColorSecondary;
        width: 80%;
        h1{
            font-size: 5rem;
            font-family: font.$myTitleFont;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            background-color: color.$myColorPrimary;
            justify-content: space-evenly;
            li{
                list-style-type: none;

            }
        }
    }
    .header__right{
        background-color: color.$bgColor;
        width: 20%;
        img{
            width: 100%;
        }

    }
}