@use '../constants/colors' as color;
@use '../constants/fonts' as font;

header {
    background-color: color.$colorHeaderBg;

    .header__left {
        background-color: color.$colorHeaderBg;

        h1 {
            font-family: font.$myTitleFont;
        }

        ul {
            background-color: color.$colorHeaderBg;
        }
    }

    .header__right {
        background-color: color.$colorHeaderBg;
    }
}