@use '../constants/colors' as color;
@use '../constants/fonts' as font;

$header-height: 24vh;
header{
    background-color: color.$colorPrimary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $header-height;
    overflow: hidden;
    .header__left{
        background-color: color.$colorSecondary;
        width: 80%;
        h1{
            font-size: 9vh;
            font-family: font.$myTitleFont;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            background-color: color.$colorPrimary;
            justify-content: space-evenly;
            li{
                list-style-type: none;

            }
        }
    }
    .header__right{
        background-color: color.$colorBg;
        width: 20%;
        position: relative;
        img{
            // align-items: center;
            // justify-content: center;
            // width: 100%;
            height: $header-height;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
}