# LaTeX auxiliary files
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.aux
*.xmpi
*.xml
*.toc
*.bcf
*.bcf-SAVE-ERROR
*.pdf
*./auxiliary_files/
*./auxiliary_files/*

# Ignore everything in the profiles folder ...
cv/profiles/*
# ... Except the specific files you want to track.
# track only example CVs, to avoid publishing private data. If instead you wish to track your personal cvs/data, you must add your profile here or exclude the above line.
!cv/profiles/examples/

# MacOS unwanted files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other stuff
*.pyc
*/**/node_modules/

# Do not transcribe TS and SCSS files unless necessary for host platform (e.g. Netlify)
*.js
*.js.map
!*/**/webpage/websiteConfig.js
*.css
*.css.map
!*/**/cv.ertex/config.js

# pdf files that should be published in repo
!*/**/published_pdfs/**/*.pdf