$header-height: 24vh;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $header-height;
    overflow: hidden;

    .header__left {
        width: 80%;

        h1 {
            font-size: 9vh;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 0.1rem; 

            li {
                list-style-type: none;

            }
        }
    }

    .header__right {
        width: 20%;
        position: relative;

        img {
            // align-items: center;
            // justify-content: center;
            // width: 100%;
            height: $header-height;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}