<article class="experience--entry include-VAL_EXP_include">
    <ul class="experience--entry--header">
        <li>
            <span>KEY_EXP_postTitle</span>
            <span>VAL_EXP_postTitle</span>
        </li>
        <li>
            <span>KEY_EXP_employer</span>
            <span>VAL_EXP_employer</span>
        </li>
        <li>VAL_EXP_startDate --- VAL_EXP_endDate</li>
        <li>
            <span>KEY_EXP_location</span>
            <span>VAL_EXP_location</span>
        </li>
    </ul>
    <div class="experience--entry--contents">
        VAL_EXP_content
    </div>
</article>
