.table-entry{
    background-color: gray;
    .table-entry__header{
        background-color: lightgray;
        display: flex;
        flex-direction: row;
        li{
            // background-color: grey;
            width: 25%;
        }
    }
    .table-entry__contents{
        background-color: white;
    }
}