// use {rgb //{red[0, 1], green[0, 1], blue[0, 1] // for compatibility between latex and scss versions

// // //  VAL_CONST_comment // // //

////// SEMANTIC COLORS
$colorPrimary: VAL_CONST_colorPrimary_scss; //
$colorSecondary: VAL_CONST_colorSecondary_scss; //
$colorBlack: VAL_CONST_colorBlack_scss; //
$colorGrayDark: VAL_CONST_colorGrayDark_scss; //
$colorGrayMed: VAL_CONST_colorGrayMed_scss; //
$colorGrayLight: VAL_CONST_colorGrayLight_scss; //

////// COMPONENT COLORS
$colorBg: VAL_CONST_colorBg_scss; //
$colorText: VAL_CONST_colorText_scss; //
$colorSectionTitle : VAL_CONST_colorSectionTitle_scss;
$colorSectionTitleBg: VAL_CONST_colorSectionTitleBg_scss;
$colorSectionBg: VAL_CONST_colorSectionBg_scss;
$colorHeaderBg: VAL_CONST_colorHeaderBg_scss;
$colorIcon: VAL_CONST_colorIcon_scss;
$colorTableFill: VAL_CONST_colorTableFill_scss;
$colorTableBorders: VAL_CONST_colorTableBorders_scss;
