// // // VAL_CONST_comment // // //

// Chosen fonts
$myMainFont: "VAL_CONST_mainFont";
$myTitleFont: "VAL_CONST_titleFont";
$mySubtitleFont: "VAL_CONST_subtitleFont";

// Backup fonts
$myMainFontBackup: "VAL_CONST_mainFontBackup";
$myTitleFontBackup: "VAL_CONST_titleFontBackup";
$mySubtitleFontBackup: "VAL_CONST_subtitleFontBackup";
