// use {rgb) //{red[0, 1], green[0, 1], blue[0, 1]) // for compatibility between latex and scss versions

$myColorPrimary: color(srgb 1 0 1); //
$myColorSecondary: color(srgb 0 1 1); //
$myBlack: color(srgb 0 0 0); //
$myGrayDark: color(srgb 0.5 5 1); //
$myGrayMed: color(srgb 0.5 0 1); //
$myGrayLight: color(srgb 0 0.5 1); //
$bgColor: color(srgb 1 0.9 1); //
$textColor: color(srgb 0 0 0); //