@use 'sass:color';
@use '../constants/colors' as mycolor;
@use '../constants/fonts' as myfont;



$bgOpacity: 0.5;
section {
    h1 {
        font-family: myfont.$myTitleFont;
        background-color: color.change(mycolor.$colorSectionTitleBg, $alpha: $bgOpacity);
        color: color.change(mycolor.$colorSectionTitle, $alpha: $bgOpacity);
    }
}


.table-entry {
    background-color: color.change(mycolor.$colorSectionBg, $alpha: $bgOpacity);

    .table-entry__header {
        background-color: color.change(mycolor.$colorTableFill, $alpha: $bgOpacity);

    }

    .table-entry__contents {
        background-color: color.change(mycolor.$colorSectionBg, $alpha: $bgOpacity);
    }
}