@use '../constants/colors' as mycolor;
@use '../constants/fonts' as myfont;
@use 'sass:color';

header {
    background-color: mycolor.$colorHeaderBg;

    .header__left {
        background-color: mycolor.$colorHeaderBg;

        h1 {
            font-family: myfont.$myTitleFont;
        }

        ul {
            background-color: mycolor.$colorHeaderBg;
        }
    }

    .header__right {
        background-color: mycolor.$colorHeaderBg;
    }
}