<!-- header added in typescript -->
<div class="header__left">
    <h1>VAL_VAR_name, VAL_VAR_title</h1>
    <ul>
        <li>
            <span>VAL_VAR_birthYear</span>-
            <span>VAL_VAR_birthMonth</span>-
            <span>VAL_VAR_birthDay</span>
        </li>
        <li>VAL_VAR_street</li>
        <li>VAL_VAR_city</li>
        <li>VAL_VAR_country</li>
        <li>VAL_VAR_email</li>
        <li>VAL_VAR_linkedIn</li>
        <li>VAL_VAR_phone</li>
        <li>VAL_VAR_site</li>
        <li>VAL_VAR_picture</li>
        <li>VAL_VAR_signature</li>
        <!-- <li>VAL_VAR_picCropTop</li>
        <li>VAL_VAR_picCropRight</li>
        <li>VAL_VAR_picCropBottom</li>
        <li>VAL_VAR_picCropLeft</li> -->
    </ul>
</div>
<div class="header__right">
    <img src="../assets/VAL_VAR_picture" alt="CV portrait">
</div>
