<ul>
    <li>VAL_VAR_name</li>
    <li>VAL_VAR_title</li>
    <li>VAL_VAR_birthDay</li>
    <li>VAL_VAR_birthMonth</li>
    <li>VAL_VAR_birthYear</li>
    <li>VAL_VAR_street</li>
    <li>VAL_VAR_city</li>
    <li>VAL_VAR_country</li>
    <li>VAL_VAR_email</li>
    <li>VAL_VAR_linkedIn</li>
    <li>VAL_VAR_phone</li>
    <li>VAL_VAR_site</li>
    <li>VAL_VAR_picture</li>
    <li>VAL_VAR_signature</li>
    <li>VAL_VAR_picCropTop</li>
    <li>VAL_VAR_picCropRight</li>
    <li>VAL_VAR_picCropBottom</li>
    <li>VAL_VAR_picCropLeft</li>
</ul>