// ============ Default values shared between all profiles
@use '../../../../../shared_web/style/main_shared'; // adjust the path as necessary (usually, you need to go down one less level compared to the examples)

// ============ Profile specific values
@use 'constants/colors' as color;
@use 'constants/fonts' as font;


@use 'sections/header';
@use 'sections/common';

html {
    background-color: color.$colorBlack;
}

body {
    background-color: color.$colorBg;
    font-family: font.$myMainFont;
}