<article class="table-entry section__education include-VAL_EDU_include">
    <ul class="table-entry__header">
        <li>
            <span>KEY_EDU_level</span>
            <span>VAL_EDU_level</span>
        </li>
        <li>
            <span>KEY_EDU_institution</span>
            <span>VAL_EDU_institution</span>
        </li>
        <li>VAL_EDU_startDate --- VAL_EDU_endDate</li>
        <li>
            <span>KEY_EDU_location</span>
            <span>VAL_EDU_location</span>
        </li>
    </ul>
    <div class="table-entry__contents">
    VAL_EDU_content
    </div>
</article>
